<html>
<head>
	<title>Signup</title>
</head>

<body>

<h1>Signup Here:</h1>

<form action="/" method="POST">

<label>Fullname:</label><br>
<input type="text" name="fullname" placeholder="Fullname"><br>
<p></p>
<label>Username:</label><br>
<input type="text" name="username" placeholder="Username"><br>
<p></p>
<label>Email:</label><br>
<input type="text" name="email" placeholder="Email"><br>
<p></p>
<label>Password:</label><br>
<input type="text" name="password" placeholder="Password"><br>
<p></p>
<input type="submit" value="Submit">

</form>

<a href="signin">Already have an account? Sign in here.</a>

</body>
</html>